.root {
    -fx-background-color: #f5f5f7;
    -fx-font-family: "Segoe UI";
}

/* HEADER */
.header-bar {
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-border-color: #e5e7eb;
    -fx-border-width: 0 0 1 0;
}

.header-title {
    -fx-font-size: 26px;
    -fx-font-weight: 800;
}

/* CONTENT */
.content-wrapper {
    -fx-padding: 20;
}

/* CARD */
.stat-card {
    -fx-background-color: white;
    -fx-padding: 15;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #e5e7eb;
}

.stat-card:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0.2, 0, 2);
}

.stat-title {
    -fx-text-fill: #6b7280;
}

.stat-value {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.stat-up {
    -fx-text-fill: #16a34a;
    -fx-font-weight: bold;
}

.stat-down {
    -fx-text-fill: #dc2626;
    -fx-font-weight: bold;
}

/* SEARCH */
.search-field {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #d1d5db;
    -fx-padding: 10;
}

.search-field:focused {
    -fx-border-color: black;
}

/* BUTTON */
.create-button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

.create-button:hover {
    -fx-background-color: #222;
}

/* BILL PANEL */
.bill-panel {
    -fx-background-color: white;
    -fx-padding: 18;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #e5e7eb;
}

.bill-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

/* SCROLL */
.bill-scroll {
    -fx-background-color: transparent;
}

.bill-scroll > .viewport {
    -fx-background-color: transparent;
}

/* HEADER LIST */
.bill-list-header .label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #6b7280;
}

/* ROW */
.bill-row {
    -fx-padding: 12;
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-border-color: #e5e7eb;
    -fx-border-radius: 12;
}

.bill-row:hover {
    -fx-background-color: #f3f4f6;
}

.bill-row-alt {
    -fx-background-color: #f9fafb;
}

/* TEXT */
.bill-code {
    -fx-font-weight: bold;
}

.bill-money {
    -fx-font-weight: bold;
}

/* STATUS */
.status-paid {
    -fx-background-color: #16a34a;
    -fx-text-fill: white;
    -fx-padding: 5 12;
    -fx-background-radius: 20;
}

.status-pending {
    -fx-background-color: #f59e0b;
    -fx-text-fill: white;
    -fx-padding: 5 12;
    -fx-background-radius: 20;
}